.container {
	font-family: Arial;
	font-size: 10pt;
	border: solid 1px #cccccc;
	margin: 5px auto 0;
	width: 800px;
}

	.container h1 {
		color: #006699;
		font-size: 13.5px;
		font-weight: bold;
		text-decoration: none;
	}

	.container .section {
		margin-left: 5px;
		margin-right: 5px;
	}

	.container .header {
		border-bottom: solid 1px #000000;
	}

	.container .info {
		padding: 5px;
	}

		.container .info .info-table {
			width: 100%;
		}

	.container .thread {
		padding: 5px;
	}

		.container .thread .message-table {
			width: 100%;
			margin-top: 5px;
			border-collapse: collapse;
			border: solid 1px #adadad;
		}

			.container .thread .message-table td {
				padding: 5px;
			}

				.container .thread .message-table td.message-header {
					border-bottom: solid 1px #000000;
					background-color: #c3d9ff;
					font-weight: bold;
				}

				.container .thread .message-table td.message-content {
				}

		.container .thread .response-table {
			width: 100%;
			margin-top: 5px;
			border-collapse: collapse;
			border: solid 1px #adadad;
		}

			.container .thread .response-table td {
				padding: 5px;
			}

				.container .thread .response-table td.response-header {
					border-bottom: solid 1px #000000;
					background-color: #ffe0b3;
					font-weight: bold;
				}

				.container .thread .response-table td.response-content {
				}

	.container .form {
		padding: 5px 50px 5px 50px;
		margin-bottom: 20px;
	}

		.container .form .post-button {
			background-color: #db8606;
			border: 1px solid #666666;
			color: #ffffff;
			text-shadow: -1px -1px 1px #000000;
			font-weight: bold;
		}